<!DOCTYPE html>
<html lang="en">
<style>
body {
    width: 20%;
    border: 2px solid black;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
</style>
<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
<script type=text/javascript src="/static/performJugex.js"></script>
</head>

<body>
<div class="container">
<div class="header">
<h3 class="text-muted">Flask JuGex</h3>
</div>
<hr/>
<div>
{{ form.autocomp.label }}: {{ form.autocomp }}
<p>
<p>
<p>
<form action="/_getMode" method="post">
<p>Choose Mode:</p>
<input type="radio" name="mode" id="mode1" value="1"/> 1 <br>
<input type="radio" name="mode" id="mode2" value="2"/> 2 <br>
<input type="submit" value="Submit!" />
</form>
<p>
<p>
<p>

<form action="/_downloadData" method="post">
    <button name="downloadBtn" type="submit">Download Expression data From Allen Brain API</button>
</form>
<p>
<p>
<p>

<form action="/_selectVois1" method="post" enctype="multipart/form-data">
<p>
    <label>Area 1</label>
    <select name = "regionList1">
        {% for x in areanames %}
            <option value = "{{ x }}">{{ x }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit!</button>
</p>
</form>
<form action="/_selectVois2" method="post" enctype="multipart/form-data">
<p>
    <label>Area 2</label>
    <select name = "regionList2">
        {% for x in areanames %}
            <option value = "{{ x }}">{{ x }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit!</button>
</p>
</form>

<p>
<p>
<p>
<form action="uploadMultiple" method="post" enctype="multipart/form-data">
        <p>Import Gene list:
        <input type="file" multiple="" name="file[]"/><br />
        <input type="submit" value="Submit" class="span2">
</form>
<form action="/_exportGeneList" method="post">
    <button name="exportBtn" type="submit">Export Gene List</button>
</form>
<p>
<p>
<p>
<p>
<p>
<p>
<input type = "button" class = "wrapper" onclick = "runJugex()" value = "Run JuGex Analysis" />

<!--<p><a href="javascript:void();" id="calculate">Perform JuGex</a>-->
<p><b>Genes and their p values:</b></p>
<div id="dvTable">
</div>

</div>
</div>

</body>
</html>
<script>

</script>
